<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="initSampleData"
		class="ch04_pjt_01.ems.utils.InitSampleData">
		<property name="sNums">
			<array>
				<value>hbs001</value>
				<value>hbs002</value>
				<value>hbs003</value>
				<value>hbs004</value>
				<value>hbs005</value>
			</array>
		</property>
		<property name="sIds">
			<array>
				<value>rabbit</value>
				<value>hippo</value>
				<value>raccoon</value>
				<value>elephant</value>
				<value>lion</value>
			</array>
		</property>
		<property name="sPws">
			<array>
				<value>p0001</value>
				<value>p0002</value>
				<value>p0003</value>
				<value>p0004</value>
				<value>p0005</value>
			</array>
		</property>
		<property name="sNames">
			<array>
				<value>agatha</value>
				<value>barbara</value>
				<value>chris</value>
				<value>doris</value>
				<value>elva</value>
			</array>
		</property>
		<property name="sAges">
			<array>
				<value>19</value>
				<value>22</value>
				<value>20</value>
				<value>27</value>
				<value>19</value>
			</array>
		</property>
		<property name="sGenders">
			<array>
				<value>M</value>
				<value>W</value>
				<value>M</value>
				<value>W</value>
				<value>M</value>
			</array>
		</property>
		<property name="sMajors">
			<array>
				<value>English</value>
				<value>Korean</value>
				<value>French</value>
				<value>Philosophy</value>
				<value>History</value>
			</array>
		</property>
	</bean>
	<bean id="studentDAO"
		class="ch04_pjt_01.ems.member.dao.StudentDAO" />	<!-- 내부에 초기값을 갖고 있지 않기 때문에 아이디와 클래스만 연결해줌 -->
	<bean id="studentRegisterService"
		class="ch04_pjt_01.ems.member.service.StudentRegisterService">
		<constructor-arg ref="studentDAO" />	<!-- ref=직접적으로 값이 메모리에 저장되는 것이 아닌 객체주소가 저장이됨 실제 객체가 들어가는게 아니라 객체가 만들어질곳의 주소가 들어가는 것이다. -->	
		<!-- 사람이 직접 초기화해야한다 --> <!-- 이곳을 주석처리하게 되면 스튜던트레지스트 서비스에는 기본 생성자 하나만 명시가 되어있기때문에 컴파일러는 기본 생성자를 어쩌구 하지 않아서 처음에 말했던 거랑 똑같이 오류가 난다 -->
	</bean>
	<bean id="studentModifyService"
		class="ch04_pjt_01.ems.member.service.StudentModifyService">
		<constructor-arg ref="studentDAO" />
	</bean>
	<bean id="studentDeleteService"
		class="ch04_pjt_01.ems.member.service.StudentDeleteService">
		<constructor-arg ref="studentDAO" />	
	</bean>
	<bean id="studentSelectService"
		class="ch04_pjt_01.ems.member.service.StudentSelectService">
		<constructor-arg ref="studentDAO" />
	</bean>
	<bean id="studentAllSelectService"
		class="ch04_pjt_01.ems.member.service.StudentAllSelectService">
		<constructor-arg ref="studentDAO" />
	</bean>
	<bean id="printStudentInformationService"
		class="ch04_pjt_01.ems.member.service.PrintStudentInformationService">
		<constructor-arg ref="studentAllSelectService" />	
	</bean>
	<bean id="dev_DBConnectionInfoDev"
		class="ch04_pjt_01.ems.member.DBConnectionInfo">
		<property name="url" value="000.000.000.000" />
		<property name="userId" value="admin" />
		<property name="userPw" value="0000" />	
	</bean>
	<bean id="real_DBConnectionInfo"
		class="ch04_pjt_01.ems.member.DBConnectionInfo">
		<property name="url" value="111.111.111.111" />
		<property name="userId" value="master" />
		<property name="userPw" value="1111" />
	</bean>	<!-- 얘네를 사용하려면 게터세터가 무조건 있어야함 설정이 안되어있으면 사용할 수 없음 -->
	<bean id="EMSInformationService"
		class="ch04_pjt_01.ems.member.service.EMSInformationService">
		<property name = "info">
			<value>Education Management System program was developed in 2022.</value>
		</property>
		<property name="copyRight"
			value="COPYRIGHT(C) 2022 EMS CO.LTD.ALL RIGHT RESERVED.CONTACT MASTER FOR MORE INFORMATION." />
		<property name="ver" value="The version is 1.0" />
		<property name="sYear">
			<value>2022</value>
		</property>
		<property name = "sMonth">
			<value>3</value>
		</property>
		<property name="sDay">
			<value>1</value>
		</property>
		<property name="eYear">
			<value>2022</value>
		</property>
		<property name="eMonth">
			<value>4</value>
		</property>
		<property name="eDay">
			<value>30</value>
		</property>
	</bean>
</beans>