<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="initSampleData"
		class="ch04_pjt_exam01.ems.utils.InitSampleData">
		<property name="ids">
			<array>
				<value>dragon</value>
			</array>
		</property>
		<property name="passwords">
			<array>
				<value>p0001</value>
			</array>
		</property>
		<property name="contacts">
			<array>
				<value>010-8888-8888</value>
			</array>
		</property>
		<property name="emails">
			<array>
				<value>pop@naver.org</value>
			</array>
		</property>
		<property name="registeredDates">
			<array>
				<value>2023-05-03</value>
			</array>
		</property>
		<property name="modifiedDates">
			<array>
				<value>2023-09-05</value>
			</array>
		</property>
	</bean>
	<bean id="memberDAO"
		class="ch04_pjt_exam01.ems.member.dao.MemberDAO" />
	<bean id="memberRegisterService"
		class="ch04_pjt_exam01.ems.member.service.MemberRegisterService">
		<constructor-arg ref="memberDAO" />	
	</bean>
	<bean id="memberModifyService"
		class="ch04_pjt_exam01.ems.member.service.MemberModifyService">
		<constructor-arg ref="memberDAO" />	
	</bean>
	<bean id="memberDeleteService"
		class="ch04_pjt_exam01.ems.member.service.MemberDeleteService">
		<constructor-arg ref="memberDAO" />
	</bean>
	<bean id="memberSelectService"
		class="ch04_pjt_exam01.ems.member.service.MemberSelectService">
		<constructor-arg ref="memberDAO" />	
	</bean>
	<bean id="memberAllSelectService"
		class="ch04_pjt_exam01.ems.member.service.MemberAllSelectService">
		<constructor-arg ref="memberDAO" />
	</bean>
	<bean id="printMemberInformationService"
		class="ch04_pjt_exam01.ems.member.service.PrintMemberInformationService">
		<constructor-arg ref="memberAllSelectService" />
	</bean>
	<bean id="dev_DBConnectionInfoDev"
		class="ch04_pjt_exam01.ems.member.DBConnectionInfo">
		<property name="url" value="000.000.000.000"/>
		<property name="userId" value="admin" />
		<property name="userPw" value="0000" />		
	</bean>
	<bean id="real_DBConnectionInfo"
		class="ch04_pjt_exam01.ems.member.DBConnectionInfo">
		<property name="url" value="111.111.111.111" />
		<property name="userId" value="master" />
		<property name="userPw" value="1111" />
	</bean>
</beans>