<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="kr" class="ch03_pjt_exam02.GreetingKorean"/>
<bean id="en" class="ch03_pjt_exam02.GreetingEnglish"/>
<bean id="gp" class="ch03_pjt_exam02.GreetingPrinter"/>
<bean id="as" class="ch03_pjt_exam02.GreetingAssembler">
<constructor-arg ref="kr"/>
<constructor-arg ref="en"/>
<constructor-arg ref="gp"/>
</bean>
</beans>