<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="greeting" class="ch03_pjt_exam2.Greeting"/>
	<bean id="helloAssembler" class="ch03_pjt_exam1.HelloAssembler">
		<constructor-arg ref="myHello"/>
	</bean>
</beans>